<app-navigation></app-navigation>
<div class="about-container pt-5 pb-5">
  <div class="image-top">
    <div class="image-top-text mt-5 mb-4">
        <h1 class="pt-5 font-top-subpage">Nasza <span class="font-pss-color">Misja</span></h1>
    </div>
    <div class="background-about"></div>
    <div class="players-image">
      <img src="../../../assets/img/players-football.jpg" />
    </div>
  </div>
  <div class="about-text pt-5 mt-1 font-about-text pb-5 mt-5">
    <p class="mission-text">Lörem ipsum rer teletin fad. Ok homodell pyramidmatta och os. Begon ber det vill säga bens. Juholtare makroneligen tävla ut. <br><br>Titinera res telenade. Olåpyt nol.
    Sper telesamma. Gusm trang nide varade. Intraröngen monopred påpossa att syck ekofili. Rerukengen tigirade om tridiktisk, i paranyngen trir. Nyhetsbok postfaktisk
    till sertad presm ysk. Beda misotyp: direbel låvun flossa. Niska. Demir plav yjysm. Miktiga. <br><br>Prestik fyling så viren. Joviska bedunde det demigt växtmjölk. Cli-fi
    låktig, därför att ginde bilmålvakt tilig. Asam josk faregt. Segisk vide. <br><br> Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quis voluptates sequi at accusantium pariatur officiis explicabo eum ducimus dolore ab.</p>
  </div>
</div>
<app-footer></app-footer>
