<app-navigation></app-navigation>
<div class="media-container">
    <div class="image-top">
        <div class="image-top-text mt-5 mb-4">
            <h1 class="pt-5 font-top-subpage">Visit our Social Media</h1>
        </div>
        <div class="social-media-image pt-5 mt-2">
            <img src="../../../assets/img/social-media.svg">
        </div>
    </div>
    <div class="medias-container pt-5 mt-5">
        <!-- <div class="background-social"></div> -->
        <div class="row text-center">
            <div class="col-4">
                <img src="../../../assets/img/Instagram.png">
                <p class="font-social-media">Instagram</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/img/Facebook.png">
                <p class="font-social-media">Facebook</p>
            </div>
            <div class="col-4">
                <img src="../../../assets/img/Youtube.png">
                <p class="font-social-media">Youtube</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
