<app-navigation></app-navigation>
<div class="media-container pb-5">
  <div class="row pt-5 mt-4">
    <div class="col-md-4 offset-md-2 pt-5">
      <h1 class="font-top-subpaget pt-5 mt-5 text-white">
        Odwiedź nas na naszych Social Media i dołącz do naszej
        <span class="text-pss-color">Rodziny</span>
      </h1>
      <p class="pt-5 mt-1 text-white font-social-description">
        Możesz nas znaleźć na Instagram, Facebook i na Youtube!
      </p>
      <div class="row pt-5 mt-2">
        <div class="col">
          <p class="font-social-link">Sprawdź przez link!</p>
        </div>
        <div class="col mt-2">
          <div class="facebook-icon"></div>
          <div class="youtube-icon"></div>
          <div class="instagram-icon"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2 social-background"></div>
  </div>
</div>
<app-footer></app-footer>
