<footer class="text-center text-lg-start bg-light text-muted footer-container">
  <div>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-google"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-github"></i>
    </a>
  </div>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem"></i>PSS
          </h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
            ad sapiente odio incidunt! Quae nam dignissimos facilis id
            architecto ipsum, unde quibusdam sunt repudiandae illum, quod nemo,
            rem natus incidunt!
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Kontakt</h6>
          <p>
            <a href="#!" class="text-reset">Kontakt</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Pomoc</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Sponsorzy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Miejsca</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Widea</h6>
          <p>
            <a href="#!" class="text-reset">Wyślij wideo</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ambasadorzy</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Agencja</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Influencer</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Social Media</h6>
            <p>
              <a href="#!" class="text-reset">Instagram</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Facebook</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Youtube</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Twitter</a>
            </p>
          </div>
      </div>
    </div>
  </section>
</footer>
