<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 nav-box-shadow">
  <div class="container">
    <img
      class="img-fluid w-50 img-icon-running"
      src="../../assets/img/running.png"
      alt=""
    />
    <a routerLink="/" class="navbar-brand navbar-item-logo font-title">PSS</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav mx-auto justify-content-center">
        <li class="nav-item">
          <a href="#about" class="link-item left-right">O Nas</a>
        </li>
        <li class="nav-item">
          <a href="#questions" class="link-item left-right">Social Media</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="link-item left-right">Kontakt</a>
        </li>
        <li class="nav-item">
          <a href="#videos" class="link-item left-right">Nagrania</a>
        </li>
      </ul>
      <app-login></app-login>
    </div>
  </div>
</nav>
