<div class="news-container pt-5 mt-5">
  <div class="blank-space-div"></div>
  <div class="news-text"><span class="h5">News</span></div>
  <div class="news-main-page">
    <div class="row mt-5 pt-1 row justify-content-center">
      <div class="col">
        <div class="row margin-news">
          <img src="../../../assets/img/football.jpg" alt="" class="banner" />
        </div>
        <div class="row w-75 margin-news mt-3">
          <h5>
            Imianowski, Balawender oraz Fryszka i Grabia wyróżnieni
            indywidualnie!
          </h5>
          <p class="mt-3 text-muted">
            Czym by były Mistrzostwa Polski bez indywidualnych popisów piłkarzy!
            Oczywiście piłka nożna jest grą zespołową ...
        </div>
      </div>
      <div class="col margin-groups">
        <div class="row">
          <div class="col-4 text-end">
              <img src="../../../assets/img/default-img.png" alt="">
          </div>
          <div class="col-8">
            <h6>Grupa A: wyniki, relacje, tabela</h6>
            <p class="text-muted">
              To będzie news, w którym będziecie mogli na żywo śledzić
              informacje z…
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-end">
            <img src="../../../assets/img/default-img.png" alt="">
          </div>
          <div class="col-8">
            <h6>Grupa B: wyniki, relacje, tabela</h6>
            <p class="text-muted">
              To będzie news, w którym będziecie mogli na żywo śledzić
              informacje z…
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-end">
            <img src="../../../assets/img/default-img.png" alt="">
          </div>
          <div class="col-8">
            <h6>Grupa C: wyniki, relacje, tabela</h6>
            <p class="text-muted">
              To będzie news, w którym będziecie mogli na żywo śledzić
              informacje z…
            </p>
          </div>
        </div>
        <div class="row justify-content-end more-info">
          <button type="button" class="btn btn-outline-primary btn-more-width">
            Wiecej wiadomosci lokalnych
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="blank-space-div-local"></div>
  <div class="local-text"><span class="h5">Lokalnie</span></div>
  <div class="local-main-page">
    <div class="row mt-5 pt-1 row justify-content-center">
      <div class="col">
        <div class="row margin-news">
          <img src="../../../assets/img/team.jpg" alt="" class="banner" />
        </div>
        <div class="row w-75 margin-news mt-3">
          <h5>Cybermachina zwycięzcą Pucharu Ligi w Krakowie</h5>
          <p class="mt-3 text-muted">
            Cybermachina Game Pub zdobyła Puchar Ligi w krakowskich rozgrywkach
            Futbolowej Ligi Szóstek. W finale po rzutach karnych pokonała
            mistrza FLS...
          </p>
        </div>
      </div>
      <div class="col margin-groups">
        <div class="row">
          <div class="col-4 text-end">
            <img src="../../../assets/img/default-img.png" alt="">
          </div>
          <div class="col-8">
            <h6>Weszło! o krakowskiej lidze</h6>
            <p class="text-muted">
              Ciekawy artykuł dotyczący krakowskiej ligi szóstek ukazał się w
              dniu dzisiejszym na…
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-end">
            <img src="../../../assets/img/default-img.png" alt="">
          </div>
          <div class="col-8">
            <h6>FC Markowice obroniło tytuł w Kleszczewie</h6>
            <p class="text-muted">
              W sobotę 21 listopada w lidze szóstek w Kleszczewie, odbyły się
              mecze…
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4 text-end">
            <img src="../../../assets/img/default-img.png" alt="">
          </div>
          <div class="col-8">
            <h6>Poznań: ZMK Kazimieruk najlepszy jesienią</h6>
            <p class="text-muted">
              W decydującym o tytule Mistrza sezonu Jesień 2015, ZMK Kazimieruk
              zmierzył się…
            </p>
          </div>
        </div>
        <div class="row more-info justify-content-end">
          <button type="button" class="btn btn-outline-primary btn-more-width">
            Wiecej wiadomosci lokalnych
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
