<app-navigation></app-navigation>
<div>
  <div class="search-container pt-5 pb-5">
    <div class="background-search"></div>
    <h1 class="form-title">Wyszukiwanie zawodników</h1>
    <div class="form-search">
      <form #searchForm="ngForm" (ngSubmit)="searchUser(searchForm)">
        <label for="name" class="search-label">Imie/Nazwisko: </label>
        <input type="text" id="name" name="name" ngModel/><br>
        <label for="city" class="search-label">Miasto: </label>
        <input type="text" id="city" name="city" ngModel/><br>
        <label for="discipline" class="search-label">Dyscyplina: </label>
        <select id="discipline" name="discipline" ngModel>
          <option value="soccer">Piłka nożna</option>
          <option value="volleyball">Siatkówka</option>
          <option value="basketball">Koszykówka</option>
          <option value="any" selected>Dowolne</option>
        </select><br>
        <button class="btn btn-primary" type="submit">Wyszukaj</button>
      </form>
    </div>

  </div>

  <div class="result-container pt-5 pb-5">
    <h1 class="form-title">Wyniki wyszukiwania: 1</h1>
    <div class="result-table">
      <table>
        <tr>
          <th>Avatar</th>
          <th>Imie nawzisko</th>
          <th>Drużyna</th>
          <th>Miasto</th>
        </tr>
        <tr *ngFor="let user of users">
          <td><img src="../../../assets/img/players-football.jpg" width="70px" height="70px"/></td>
          <td>{{user.name}}</td>
          <td>{{user.team}}</td>
          <td>{{user.city}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
