<app-navigation></app-navigation>
<div class="user-container">
  <img src="./assets/img/players-football.jpg" class="avatar-img "/>
  <div class="line1"></div>
  <div class="user-detail-container">
    <div class="user-details">
      <div class="user-title">
        <div class="user-number">{{team._id}}</div>
        <div class="line2"></div>
        <div class="user-name">{{team.name}}</div>
      </div>
      <br>
      <div class="user-data">miasto
        <div class="data-font">{{team.city}}</div>
      </div>
      <br>
      <div class="user-data">dyscyplina
        <div class="data-font">{{team.discipline}}</div>
      </div>
      <br>
    </div>
  </div>
</div>
<app-footer></app-footer>
