<app-navigation></app-navigation>
<div class="user-container">
  <img src="./assets/img/players-football.jpg" class="avatar-img "/>
  <div class="line3"></div>
  <div class="user-detail-container">
    <div *ngIf="editMode == false; else editForm" class="user-details">
      <div class="user-title">
        <h1>Strona Drużyny</h1>
        <div class="user-name">{{team.name}}</div>
      </div>
      <br>
      <div class="user-data">miasto:
        <div class="data-font">{{team.city}}</div>
      </div>
      <br>
      <div class="user-data">dyscyplina:
        <div class="data-font">{{team.discipline}}</div>
      </div>
      <br>
      <div class="user-data">kapitan:
        <div class="data-font">{{team.captain.name}}</div>
      </div>
      <br>
      <button *ngIf="team.captain._id == userId" class="btn btn-outline-primary btn-edit"
              (click)="buttonEditChangeVal()">
        Edytuj
      </button>
    </div>
    <ng-template #editForm>
      <form #editTeamForm="ngForm" (ngSubmit)="updateSpecialTeam(editTeamForm)">
        <div class="user-title">
          <h1>Strona Drużyny</h1>
          <input class="user-name" type="text" name="name" id="name" ngModel="{{team.name}}">
        </div>
        <br>
        <div class="user-data">miasto:
          <input class="data-font" type="text" name="city" id="city" ngModel="{{team.city}}">
        </div>
        <br>
        <div class="user-data">dyscyplina:
          <select id="discipline" name="discipline" ngModel="{{team.discipline}}">
            <option value="Piłka nożna">Piłka nożna</option>
            <option value="Siatkówka">Siatkówka</option>
            <option value="Koszykówka">Koszykówka</option>
          </select><br>
        </div>
        <br>
        <div class="user-data">kapitan:
          <div class="data-font">{{team.captain.name}}</div>
        </div>
        <br>
        <button *ngIf="team.captain._id == userId" type="submit" class="btn btn-outline-primary btn-edit">
          Zmień
        </button>
        <button *ngIf="team.captain._id == userId" class="btn btn-outline-primary btn-edit"
                (click)="buttonEditChangeVal()">
          Anuluj
        </button>
      </form>
    </ng-template>
  </div>
</div>
<div class="team-list-container">
  <mat-list>
    <h3 class="team-list-header">Skład zespołu</h3>
    <mat-list-item *ngFor="let user of team.users; last as last">
      <a mat-line routerLink="/user-page/{{user._id}}">{{user.name}}</a>
      <div *ngIf="team.captain._id == userId" style="padding-right: 10px">Zaproszony</div>
      <button *ngIf="team.captain._id == userId" class="btn btn-outline-primary btn-edit" (click)="deletePlayer(user)">X</button>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<div *ngIf="getID() == 'player'" class="team-player-container">
  <button class="btn btn-outline-primary btn-edit"
          (click)="buttonLeaveTeam()">
    Opuść Drużynę
  </button>
</div>
<div class="edit-players-container">
  <button *ngIf="team.captain._id == userId" class="btn btn-outline-primary btn-edit"
          (click)="buttonChangePlayers()">
    Dodaj zawodnika
  </button>
  <div *ngIf="changePlayers == true">
    <form #editTeamForm="ngForm" (ngSubmit)="findUsers(editTeamForm)">
      <div class="user-data">Nazwa użytkownika:
        <input class="data-font" type="text" name="name" id="searchName" ngModel/>
      </div>
      <button type="submit" class="btn btn-outline-primary btn-edit">
        Wyszukaj
      </button>
    </form>
    <mat-list>
      <h3 class="team-list-header">Sugerowani użytkownicy: </h3>
      <mat-list-item *ngFor="let user of specialUsers; last as last">
        <div matLine>
        <div style="float: left">{{user.name}}</div>
        <button class="btn btn-outline-primary btn-invite" style="float: right" (click)="addPlayer(user)">Zaproś do drużyny</button>
        </div>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<app-footer></app-footer>
