.contact-container {
  width: 75% !important;

  .form-contact {
    // margin-left: 80px !important;
    // padding-right: 0px !important;
  }

  img {
    width: 514px !important;
    height: 440px !important;
  }

  .text-pss-color {
    color: #1E90FF !important;
  }

  .form-group {
    width: 400px !important;
  }

  .contact-label {
    font-size: 20px !important;
    font-weight: 700 !important;
  }

  .contact-button{
    width: 400px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .offset-md-2 {
    margin-left: 14.66666667% !important;
  }
}
