.media-container {
  .image-top {
    text-align: center;
  }

  .font-pss-color{
    color: #1E90FF !important;
  }

  .social-media-image {
    img {
      width: 600px !important;
    }
  }

  .medias-container {
    height: 560px !important;

    .background-social {
      background-color: #1E90FF !important;
      width: 100%;
      height: 560px !important;
      opacity: 40% !important;
      z-index: -1;
      position: absolute;
      top: 140px;
    }
  }
}
