.media-container {
  height: 893px !important;
  background-color: #000;

  .social-background {
    background-image: url("../../assets/img/social-background.png");
    background-repeat: no-repeat;
    opacity: 35%;
    height: 843px !important;
    width: 762px !important;
    position: absolute;
    right: 0px !important;
  }

  .row {
    --bs-gutter-x: 0rem;
  }

  .facebook-icon {
    height: 24px;
    width: 24px;
    display: inline-block;
    background: url("../../assets/img/facebook-ic.png");
    margin-right: 20px !important;
  }

  .youtube-icon {
    height: 24px;
    width: 60px;
    display: inline-block;
    background: url("../../assets/img/youtube-ic.png");
    margin-right: 20px !important;
  }

  .instagram-icon {
    height: 24px;
    width: 86px;
    display: inline-block;
    background: url("../../assets/img/instagram-ic.png");
  }
}
