<div class="form-floating">
  <input
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{ type }}"
    class="form-control form-control-custom"
    [formControl]="ngControl.control"
    placeholder="{{ label }}"
  />
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
    Proszę wprowadzić {{ label }}
  </div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{ label }} jest za krótkie - minimalnie
    {{ ngControl.control.errors.minlength["requiredLength"] }}
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{ label }} jest za długie - maksymalnie
    {{ ngControl.control.errors.maxlength["requiredLength"] }}
  </div>
  <div *ngIf="ngControl.control.errors?.pattern" class="invalid-feedback">
    {{ label }} jest nieodpowiednie
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
    Hasła się nie zgadzają
  </div>
</div>
