<div class="container-register">
  <div class="row g-0 content">
    <div class="col-md-6 mb-3 mt-5">
      <img
        class="img-fluid w-75 img-register"
        src="../../assets/img/people.svg"
        alt="fans"
      />
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center text-center p-0 mt-5">
        <form (submit)="onRegister(registerForm)" #registerForm="ngForm">
          <div class="row no-gutters sign-up-content mr-5">
            <div class="col d-flex justify-content-center mt-1 p-0">
              <h1 class="h3 mb-3 fw-normal text-left signing-txt-login m-0 p-0">
                Register
              </h1>
            </div>
            <div class="col d-flex justify-content-center m-0 p-0">
              <a routerLink="/">
                <img
                  src="../../assets/img/running.png"
                  class="mr-5"
                  href="#"
                  alt=""
                  width="40"
                  height="40"
                />
              </a>
            </div>
          </div>
          <div class="form-floating mt-1">
            <input
              name="name"
              type="text"
              class="form-control form-login"
              id="floatingName"
              placeholder="Name"
            />
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating">
            <input
              name="surname"
              type="text"
              class="form-control form-login"
              id="floatingSurname"
              placeholder="Surname"
            />
            <label for="floatingPassword">Surname</label>
          </div>
          <div class="form-floating">
            <input
              name="email"
              class="form-control form-login"
              id="floatingEmail"
              ngModel
              type="email"
              placeholder="E-Mail"
              #emailInput="ngModel"
              required
              email
            />
            <label for="floatingEmail">Email</label>
          </div>
          <div class="form-floating">
            <input
              class="form-control form-login"
              id="floatingPassword"
              type="password"
              name="password"
              ngModel
              placeholder="Password"
              #passwordInput="ngModel"
              required
            />
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 btn btn-login btn-lg mt-4" type="submit">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
