.about-container {

    .image-top {
        text-align: center;
    }

    .players-image {
        img {
            width: 829px !important;
            height: 560px !important;
        }
    }

    .background-about {
        background-color: #1E90FF !important;
        width: 100%;
        height: 560px !important;
        opacity: 40% !important;
        z-index: -1;
        position: absolute;
        top: 10px;
    }

    .about-text {
        width: 75%;
        margin: auto;
        
        .mission-text::first-letter {
            font-size: 101px !important;
        }
    }
}