<app-navigation></app-navigation>
<div class="contact-container">
  <div class="top-contact">
    <h1 class="pt-5 font-top-subpage">Get in Touch</h1>
  </div>
  <div class="phone-container">
    <div class="row w-100 mr-0 pt-5 justify-content-center margin-phone">
      <div class="background-contact"></div>
      <div class="col-8 phone-image-container text-center pt-3">
        <img src="../../../assets/img/contact-us-phone.svg" />
      </div>
      <div class="col-4 pt-3">
        <img src="../../../assets/img/phone-ic.png" class="phone-ic"/>
        <h1 class="font-main-contact text-white">Phone</h1>
        <p class="text-white">123213251290</p>
        <p class="text-white">123213251290</p>
      </div>
    </div>
  </div>

  <div class="mail-container">
    <div class="row w-100 justify-content-center">
        <div class="col-8 mail-image-container text-center">
          <img src="../../../assets/img/personal-text-mail.svg" />
        </div>
        <div class="col-4">
          <img src="../../../assets/img/text-ic.png" class="mail-ic"/>
          <h1 class="font-main-contact text-dark">Email</h1>
          <p class="text-dark">loremipsum@gmail.com</p>
          <p class="text-dark">loremipsum@gmail.com</p>
          <p class="text-dark">loremipsum@gmail.com</p>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
