<app-navigation></app-navigation>
<div class="contact-container pt-5 mt-4">
  <div class="row pt-5 mt-5">
    <div class="col-md-4 offset-md-2 form-contact">
      <h1 class="font-top-subpage font-contact mr-4">Drop As <span class="text-pss-color">Line</span></h1>
      <form class="mb-5 pb-5">
        <div class="form-group pt-4 mt-3">
          <label class="contact-label pb-3" for="fullNameInput">Full Name</label>
          <input type="text" class="form-control" id="fullNameInput" placeholder="What's your full name?">
        </div>
        <div class="form-group">
          <label class="contact-label pt-3 pb-3" for="emailInput">Email</label>
          <input type="email" class="form-control" id="emailInput" placeholder="your@example.com">
        </div>
        <div class="form-group pb-4">
          <label class="contact-label pt-3 pb-3" for="messageInput">Message</label>
          <textarea class="form-control" id="messageInput" rows="6" placeholder="Write your message here ..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary contact-button mb-4">Submit</button>
      </form>
    </div>
    <div class="col-md-2 offset-md-2">
      <img src="../../../assets/img/mailbox.svg" alt="mailbox" class="mailbox-margin text-start">
    </div>
  </div>
</div>
<app-footer></app-footer>
