<app-navigation></app-navigation>
<div class="user-container">
  <img src="./assets/img/user-avatar.png" class="avatar-img "/>
  <div class="line1"></div>
  <div class="user-detail-container">
    <div class="user-details">
      <div class="user-title">
        <div class="user-number">99</div>
        <div class="line2"></div>
        <div class="user-name">Mateo Domino</div>
      </div>
      <br>
      <div class="user-data">miasto
        <div class="data-font">Lublin</div>
      </div>
      <br>
      <div class="user-data">wiek
        <div class="data-font">25</div>
      </div>
      <br>
      <div class="user-data">waga
        <div class="data-font">83</div>
      </div>
      <br>
      <div class="user-data">wzrost
        <div class="data-font">183</div>
      </div>
      <br>
      <div class="user-data">dyscyplina
        <div class="data-font">Piłka nożna</div>
      </div>
      <br>
    </div>
    <div>
      <div class="team-font">TEAM</div>
      <img src="./assets/img/default-img.png" class="team-img"/>
    </div>
  </div>

</div>
<app-footer></app-footer>
