<app-navigation></app-navigation>
<div class="user-container">
  <img src="./assets/img/user-avatar.png" class="avatar-img" alt="user avatar"/>
  <div class="line1"></div>
  <div class="user-detail-container">
    <div *ngIf="editMode == false; else editForm" class="user-details">
      <div class="user-title">
        <div class="user-number">{{user.id_user}}</div>
        <div class="line2"></div>
        <div class="user-name">{{user.name}}</div>
      </div>
      <br>
      <div class="user-data">miasto
        <div class="data-font">{{user.city}}</div>
      </div>
      <br>
      <div class="user-data">wiek
        <div class="data-font">{{user.age}}</div>
      </div>
      <br>
      <div class="user-data">waga
        <div class="data-font">{{user.weight}}</div>
      </div>
      <br>
      <div class="user-data">wzrost
        <div class="data-font">{{user.height}}</div>
      </div>
      <br>
      <div class="user-data">dyscyplina
        <div class="data-font">{{user.discipline}}</div>
      </div>
      <br>
      <button *ngIf="user.id_user == 1" class="btn btn-outline-primary btn-edit" (click)="buttonEditChangeVal()">
        Edytuj
      </button>
    </div>
    <ng-template #editForm>
      <form #editUserForm="ngForm" (ngSubmit)="updateUserData(editUserForm)">
        <div class="user-details">
          <div class="user-title">
            <div class="user-number">{{user.id_user}}</div>
            <div class="line2"></div>
            <input class="user-name" type="text" name="name" id="name" ngModel="{{user.name}}">
          </div>
          <br>
          <div class="user-data">miasto
            <input class="data-font" type="text" name="city" id="city" ngModel="{{user.city}}">
          </div>
          <br>
          <div class="user-data">wiek
            <input class="data-font" type="number" name="age" id="age" ngModel="{{user.age}}">
          </div>
          <br>
          <div class="user-data">waga
            <input class="data-font" type="number" name="weight" id="weight" ngModel="{{user.weight}}">
          </div>
          <br>
          <div class="user-data">wzrost
            <input class="data-font" type="number" name="height" id="height" ngModel="{{user.height}}">
          </div>
          <br>
          <div class="user-data">dyscyplina
            <input class="data-font" type="text" name="discipline" id="discipline" ngModel="{{user.discipline}}">
          </div>
          <br>
          <button class="btn btn-outline-primary btn-edit" type="submit">Zmień</button>
          <button class="btn btn-outline-primary btn-edit" (click)="buttonEditChangeVal()">
            Anuluj
          </button>
        </div>
      </form>
    </ng-template>
    <div>
      <div class="team-font">{{user.team}}</div>
      <img src="./assets/img/default-img.png" class="team-img" alt="team avatar"/>
    </div>
  </div>

</div>
<app-footer></app-footer>
