<nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light py-3 nav-box-shadow">
  <div class="container">
    <img
      class="img-fluid w-50 img-icon-running"
      src="../../assets/img/running.png"
      alt=""
    />
    <a routerLink="/" class="navbar-brand navbar-item-logo">PSS</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ng-container *ngIf="!userIsAuthenticated; else showAuthenticated">
        <ul class="navbar-nav mx-auto justify-content-center">
          <li class="nav-item">
            <a href="#about" class="link-item left-right" routerLink="/about">O Nas</a>
          </li>
          <li class="nav-item">
            <a href="#questions" class="link-item left-right" routerLink="/socialmedia">Social Media</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="link-item left-right" routerLink="/contact">Kontakt</a>
          </li>
        </ul>
        <button class="btn" type="submit" *ngIf="!userIsAuthenticated">
          <a class="btn btn-login" routerLink="/auth/login" >Zaloguj</a>
        </button>
        <button class="btn" type="submit" *ngIf="!userIsAuthenticated">
          <a class="btn btn-register" routerLink="/auth/register">Rejestracja</a>
        </button>
      </ng-container>
      <ng-template #showAuthenticated>
          <div class="messages-icon"></div>
          <div class="myacc-icon"></div>
          <!-- <div class="mx-auto"> -->
            <button class="btn" type="submit" (click)="onLogout()">
              <span class="btn btn-logout">Wyloguj</span>
            </button>
          <!-- </div> -->
          <div class="mx-auto">
            <div class="btn btn-search">
              <a class="btn font-search" routerLink="/search-users-teams">Szukaj zawodnika lub drużyny</a>
            </div>
          </div>
      </ng-template>
    </div>
  </div>
</nav>
