.font-title {
  font-size: 22px !important;
  font-weight: 400 !important;
  font-style: italic;
}

.font-social-media {
  font-size: 50px !important;
  font-weight: 400 !important;
}

.font-top-subpage {
  font-size: 50px !important;
  font-weight: 700 !important;
  letter-spacing: 3px !important;
  text-transform: uppercase;
}


.text-pss-color {
  color: #1E90FF !important;
}

.font-contact {
  font-size: 35px !important;
}

.font-about-text {
  font-size: 25px !important;
  font-weight: 400 !important;
}

.font-social-description {
  font-size: 25px !important;
  font-weight: 300 !important;
  opacity: 50%;
}

.font-social-link {
  font-size: 25px !important;
  font-weight: 700 !important;
  color: #2B7629 !important;
}

.font-search {
  font-size: 10px !important;
  color: white !important;
}

.font-main-contact {
  font-size: 50px !important;
  font-weight: 700 !important;
}
