<app-navigation></app-navigation>

<div class="find-match-container">
  <h3 class="match-list-header">mecze w twojej okolicy</h3>
  <table mat-table class="match-table" [dataSource]="dataSource">

    <ng-container matColumnDef="Team">
      <mat-header-cell *matHeaderCellDef> Drużyna </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.teamC}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Time">
      <mat-header-cell *matHeaderCellDef> Godzina </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.time}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Place">
      <mat-header-cell *matHeaderCellDef> Miejsce </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Play">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button class="btn btn-outline-primary btn-edit" (click)="buttonPlay(element)">
          Graj!
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef=displayedColumns></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
  <button class="btn btn-outline-primary btn-edit" style="margin-top: 20px" (click)="buttonCancel()"> Anuluj </button>

</div>
<app-footer></app-footer>
